## Análisis de información

**Importación de librerías**

In [6]:
import pandas as pd

import seaborn as sns

**Importación del CSV**

In [3]:
df = pd.read_csv("../Input/athlete_events.csv")

In [4]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**Análisis de Correlaciones**

In [5]:
df.corr()

              ID       Age    Height    Weight      Year
ID      1.000000 -0.003631 -0.011141 -0.009176  0.011885
Age    -0.003631  1.000000  0.138246  0.212069 -0.115137
Height -0.011141  0.138246  1.000000  0.796213  0.047578
Weight -0.009176  0.212069  0.796213  1.000000  0.019095
Year    0.011885 -0.115137  0.047578  0.019095  1.000000